@inherits LayoutComponentBase

<PageTitle>PortableBlacksmith</PageTitle>

<div class="page">
    @Body
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="7"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug"
                    ShowProgressBar = "true"
                    ShowCloseButton = "true"/>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>
