@page "/game"
@inherits ComponentServiceInjector

<div id="main-window">
    <div id="left-panel">
        <GameInfoComponent></GameInfoComponent>
    </div>

    <div id="right-panel">
    </div>
</div>
