#left-panel {
    width: 400px;
    background-color: #fff1de;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
}

#main-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 1344px;
    height: 756px;
    border-radius: 20px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}